@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Crimson Text', serif;
  }
  
.crust {
    bottom: 0;
    height: 40vh;
    background: linear-gradient(to bottom, #1E193A, #472004); /* Gradiente de arriba hacia abajo */
    position: relative; 
}

.paragraph {
  @apply mt-4 text-lg;
}
